SECRET_KEY=5125235ac47f1fd76f5d6d2478bb6b65bcfba6704932b3a604fd408436c6a4eb
ENCRYPTION_KEY=1T10-GSbOwGXeLr_t47r6TxdFl1_7r-wZqwZXuuZcuo=
DATABASE_URL=sqlite:///./resume_analyzer.db
GROQ_API_KEY=placeholder
DATABASE_URL_DIRECT=sqlite:///./resume_analyzer.db
